.underlinee {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underlinee::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.underlinee:hover::after {
  width: 5%;
}
