<div class="w-full h-20 flex justify-between {{ bgClass }} relative">
  <div class="w-1/5 max-w-40 h-5/6 relative my-auto ml-2">
    <img [ngSrc]="imgSrc" alt="?" fill priority />
  </div>
  <div class="w-2/3 max-w-xl h-full flex justify-between items-center mr-3">
    @if(innerWidth > 733) {
    <div class="flex items-center text-center">
      <a
        routerLink="signin"
        class="bg-white text-black w-[5.6rem] font-bold px-4 py-2 rounded-lg mx-auto"
        >Sign In</a
      >
    </div>
    <a routerLink="" class=" {{ aClass }} ">Home</a>
    <a routerLink="products" class=" {{ aClass }} ">Products</a>
    <a routerLink="aboutus" class=" {{ aClass }} ">About Us</a>
    <a routerLink="contactus" class=" {{ aClass }} ">Contact</a>

    } @else {
    <div></div>
    <div class="mr-3 relative">
      <img
        [ngSrc]="imgSrc2"
        alt=""
        width="30"
        height="30"
        (click)="toggleMenu()"
      />
      @if(isMenuOpen) {
      <div
        class="absolute top-8 rounded-md right-0 w-40 h-64 z-10 overflow-hidden {{
          bgClass
        }} shadow-lg shadow-slate-900 flex flex-wrap"
      >
        <a routerLink="" class="{{ aClass2 }}">Home</a>
        <a routerLink="products" class="{{ aClass2 }}">Products</a>
        <a routerLink="aboutus" class="{{ aClass2 }}">Aboutus</a>
        <a routerLink="contactus" class="{{ aClass2 }}">Contact Us</a>
        <a
          routerLink="signin"
          class="text-black w-full flex justify-center items-center bg-gray-300"
          >Sign In</a
        >
      </div>
      }
    </div>
    }
  </div>
</div>
<div
  class="w-full h-4 absolute -mt-1 top-20 left-0 bg-gradient-to-b from-slate-900 to-black shadow-lg shadow-black"
></div>
