<div class="w-full h-20 flex justify-between {{ bgClass }} relative">
  <div class="w-1/5 max-w-40 h-5/6 relative my-auto ml-2">
    <img [ngSrc]="imgSrc" alt="?" fill priority />
  </div>
  <div
    id="menu"
    class="w-2/3 max-w-xl h-full flex justify-between items-center mr-3"
  >
    @if(innerWidth > 733) { @if(!user) {
    <div class="flex items-center text-center">
      <a
        routerLink="signin"
        class="bg-white text-black w-[5.6rem] font-bold px-4 py-2 rounded-lg mx-auto"
        >Sign In</a
      >
    </div>
    } @else {
    <img
      [ngSrc]="userData.userImage"
      alt=""
      width="32"
      height="32"
      class="bg-white rounded-full box-content p-1"
      (click)="toggleOpenMenu2()"
    />
    }
    <a routerLink="" class=" {{ aClass }} " (click)="closeMenu2()">Home</a>
    <a routerLink="products" class=" {{ aClass }} " (click)="closeMenu2()"
      >Products</a
    >
    <a routerLink="aboutus" class=" {{ aClass }} " (click)="closeMenu2()"
      >About Us</a
    >
    <a routerLink="contactus" class=" {{ aClass }} " (click)="closeMenu2()"
      >Contact</a
    >
    @if(isMenuOpen2) {
    <div
      class="flex items-center absolute w-2/3 h-20 left-1/2 -translate-x-1/3 rounded-md shadow-lg z-50 bg-black bg-opacity-30 top-3/4 mt-6"
    >
      <img
        [ngSrc]="userData.userImage"
        alt=""
        width="32"
        height="32"
        class="bg-white rounded-full box-content p-1 -mt-6 ml-2"
        (click)="toggleOpenMenu2()"
      />
      <div class="flex flex-col ml-2 space-y-1 text-white">
        <div>Username: {{ userData.username }}</div>
        <div class="">#id: {{ userData.id }}</div>
      </div>
      <div class="flex-grow"></div>
      @if(role.isDev) {
        <a
          class="px-4 py-2 bg-white rounded-md text-black !text-sm mr-2"
          routerLink="dashboard"
          (click)="closeMenu2()"
        >
          Dashboard
        </a>
      }
      <a
        class="px-4 py-2 bg-white rounded-md text-black !text-sm mr-2"
        routerLink="edit"
        (click)="closeMenu2()"
      >
        Edit profile
      </a>
      <a
        class="px-2 py-2 bg-white rounded-md text-black mr-2"
        routerLink=""
        (click)="closeMenu2()"
      >
        <img [ngSrc]="imgSrc3" alt="" width="20" height="20" />
      </a>
    </div>
    } } @else { @if(isMenuOpen) {
    <div
      class="absolute bg-black w-screen h-screen z-50 top-0 right-0 bg-opacity-50"
    >
      <div class="flex justify-end items-center h-20 mx-7">
        <img
          [ngSrc]="imgSrc4"
          alt=""
          width="20"
          height="20"
          (click)="closeMenu()"
        />
      </div>
      <div
        class="w-auto mx-5 h-[calc(100%-4.8rem-4rem)] mt-[calc(4.8rem-5rem)] mb-16 rounded-md bg-black bg-opacity-30"
      >
        <div class="flex flex-col overflow-hidden p-5 space-y-1">
          @if(user) {
          <div class="flex items-center px-4 py-2 text-white text-xs">
            <div class="bg-white rounded-full p-1">
              <img [ngSrc]="userData.userImage" alt="" width="35" height="35" />
            </div>
            <div class="flex flex-col ml-2 space-y-1">
              <div>Username: {{ userData.username }}</div>
              <div class="">#id: {{ userData.id }}</div>
            </div>
            <div class="flex-grow"></div>
            @if(role.isDev) {
              <a
                class="px-4 py-2 bg-white rounded-md text-black !text-sm mr-2"
                routerLink="dashboard"
                (click)="closeMenu()"
              >
                Admin Dash
              </a>
            }
            <a
              class="px-4 py-2 bg-white rounded-md text-black !text-sm"
              routerLink="edit"
              (click)="closeMenu()"
            >
              Edit profile
            </a>
          </div>
          }
          <a routerLink="" class="{{ aClass2 }}" (click)="closeMenu()">
            Home
          </a>
          <a routerLink="products" class="{{ aClass2 }}" (click)="closeMenu()">
            Products
          </a>
          <a routerLink="aboutus" class="{{ aClass2 }}" (click)="closeMenu()">
            About Us
          </a>
          <a routerLink="contactus" class="{{ aClass2 }}" (click)="closeMenu()">
            Contact
          </a>
          @if(!user) {
          <a
            routerLink="signin"
            class="{{ aClass2 }} text-cyan-200"
            (click)="closeMenu()"
          >
            Sign In
          </a>
          } @else {
          <a
            routerLink=""
            class="{{ aClass2 }} text-cyan-200"
            (click)="closeMenu()"
          >
            Log Out
          </a>
          }
        </div>
      </div>
    </div>
    } @else {
    <div class="mr-3 relative w-full flex justify-end">
      <img
        [ngSrc]="imgSrc2"
        alt=""
        width="30"
        height="30"
        (click)="openMenu()"
      />
    </div>
    } }
  </div>
</div>
<div
  class="w-full h-4 absolute -mt-1 top-20 left-0 bg-gradient-to-b from-slate-900 to-black shadow-lg shadow-black"
></div>
