<div
  class="space-y-5 w-full {{ tClass }} {{
    innerWidth > 1000
      ? 'h-[18rem] pl-60 pt-32'
      : innerWidth > 720
      ? 'h-[18rem] pt-32 pl-20'
      : 'text-center pt-20 pb-10'
  }}"
>
  <p class="font-bold {{ innerWidth > 600 ? 'text-5xl' : 'text-4xl' }}">
    Welcome to DKTeam
  </p>
  <p class="{{ innerWidth > 600 ? 'pl-5' : 'p-0' }}">
    We are here for your convenience
  </p>
</div>
<div class="{{ cClass }} {{ tClass }}">
  <p
    class="font-semibold flex items-center {{
      innerWidth > 600 ? 'text-xl' : 'text-sm'
    }}"
  >
    Check out our products
    <a
      routerLink="products"
      class="{{ innerWidth > 600 ? 'text-2xl' : 'text-md' }} mx-2"
      >now!</a
    >
    <img
      [ngSrc]="imgSrc"
      alt="123"
      width="30"
      height="30"
      class="text-white fill-white"
    />
  </p>
</div>
<div class="{{ cClass }} {{ tClass }} my-6 font-semibold">Or</div>
<div
  class="{{ cClass }} {{ tClass }} {{
    innerWidth > 600 ? 'text-xl' : 'text-md'
  }} font-semibold"
>
  Join us now
</div>
<div class="{{ cClass }} max-w-xl mx-auto">
  <a
    href="https://www.facebook.com/Khoevippro/"
    class="h-10 w-10 rounded-full mt-6"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img [ngSrc]="imgSrc2" alt="facebook" height="100" width="100" />
  </a>
</div>
