.animation-img {
  position: absolute;
  top: 5px;
  left: 120px;
  animation: move-between 3s ease-in-out infinite;
}

@keyframes move-between {
  0% {
    left: 120px;
    opacity: 10;
  }
  100% {
    left: calc(100% - 105px);
    opacity: 0;
  }
}
