<div class="max-w-5xl w-full h-full mx-auto pt-5 pb-7">
  <div class="w-auto h-full bg-white mx-20 mt-6 p-3 rounded-xl">
    <div class="flex justify-center text-3xl mt-10 pb-5 mx-3 text-center">
      <div>Products</div>
    </div>
    <div class="flex items-center -mb-3 space-x-3">
      <a
      routerLink="/create"
        class="flex items-center {{
          bgClass
        }} rounded-md text-white px-2 py-1.5 space-x-1 w-[9.2rem] ml-10"
      >
        <div class="text-lg font-semibold">Create new</div>
        <img [ngSrc]="imgSrc4" alt="" width="26" height="26" />
      </a>
      <div class="relative">
        <img
          [ngSrc]="imgSrc5"
          alt=""
          width="40"
          height="40"
          class="{{ bgClass }} absolute rounded-md p-1"
          (click)="toggleInputWidth()"
        />
        <input
          type="text"
          placeholder="Enter product id or name"
          class="border rounded-md p-1.5 transition-all duration-300 ease-in-out h-[40px] {{
            isExpanded ? 'w-auto ml-[42px]' : 'w-[40px]'
          }}"
        />
      </div>
    </div>
    @for(product of productArray; track product.id) {
    <app-product-element [productData]="product" class="relative" />
    <a
      routerLink="/dashboard/products/{{ product.id }}"
      class="absolute {{
        bgClass
      }} w-10 h-10 rounded-md -mt-[9.6%] ml-[10%] flex justify-center items-center"
    >
      <img [ngSrc]="imgSrc3" alt="" width="30" height="30" />
    </a>
    }
  </div>
</div>
